{%- for dat in items %}
obj=way
name={{ dat.get_full_name() }}
copyright=128na
system_type={{ dat.get_system_type() }}
waytype={{ dat.get_waytype() }}
topspeed={{ dat.get_topspeed() }}
cost={{ dat.get_cost() }}
maintenance={{ dat.get_maintenance() }}
intro_year=1900
intro_month=1
retire_year=2999
retire_month=1
icon=> {{ dat.get_image_path() }}_icon.0.{{ dat.get_icon_index() }},-48,-70
cursor={{ dat.get_image_path() }}_icon.1.{{ dat.get_icon_index() }},0,-12
{%- for i in dat.get_images() %}
{{ i[0] }}[{{ i[1] }}]={{ i[2] }}.{{ i[3] }}.{{ i[4] }},{{ i[5] }},{{ i[6] }}
{%- endfor %}
--------
{%- endfor %}