{
  "version": 1,
  "definitions": [
{%- for item in items %}
    {
      "outputPath": "dist/texture_{{ item.get_name() }}.png",
      "rules": [
        {
          "name": "mergeImage",
          "mode": "normal",
          "comment": "road",
          "pathes": [
            ".build/texture_{{ item.get_name() }}.png",
            "workspace/bg_road.png"
          ],
          "offset": {
            "x": 0,
            "y": 0
          }
        },
        {
          "name": "removeSpecialColor"
        }
      ]
    },
    {
      "outputPath": "dist/texture_{{ item.get_name() }}_icon.png",
      "rules": [
        {
          "name": "mergeImage",
          "mode": "normal",
          "comment": "icon,cursor",
          "pathes": [
{%- if item.is_texture() %}
            "workspace/bg_texture_icon2.png",
            ".build/texture_{{ item.get_name() }}_icon.png",
            "workspace/bg_texture_icon.png"
{%- else %}
            ".build/texture_{{ item.get_name() }}_icon.png",
            "workspace/bg_road_icon.png"
{%- endif %}
          ],
          "offset": {
            "x": 0,
            "y": 0
          }
        },
        {
          "name": "removeTransparent",
          "threthold": 128
        },
        {
          "name": "removeSpecialColor"
        }
      ]
    }
{%- if not loop.last %},{%- endif %}
{%- endfor %}
  ]
}