{
  "version": 1,
  "definitions": [
{%- for item in items %}
    {
      "outputPath": "dist/{{ item.get_icon_dest_path() }}.png",
      "rules": [
        {
          "name": "mergeImage",
          "mode": "normal",
          "comment": "icon,cursor",
          "pathes": [
{%- for path in item.get_icon_source_pathes() %}
            "{{ path }}.png"{%- if not loop.last %},{%- endif %}
{%- endfor %}
          ],
          "offset": {
            "x": {{ item.get_icon_offset_x() }},
            "y": {{ item.get_icon_offset_y() }}
          }
        },
        {
          "name": "removeTransparent",
          "threthold": 128
        },
        {
          "name": "removeSpecialColor"
        }
      ]
    },
    {
      "outputPath": "dist/{{ item.get_dest_path() }}.png",
      "rules": [
        {
          "name": "mergeImage",
          "mode": "normal",
          "comment": "",
          "pathes": [
{%- for path in item.get_source_pathes() %}
            "{{ path }}.png"{%- if not loop.last %},{%- endif %}
{%- endfor %}
          ],
          "offset": {
            "x": {{ item.get_offset_x() }},
            "y": {{ item.get_offset_y() }}
          }
        },
        {
          "name": "removeSpecialColor"
        }
      ]
    }
{%- if not loop.last %},{%- endif %}
{%- endfor %}
  ]
}