{
  "version": 1,
  "definitions": [
{%- for def in defs %}
{%- for type in def.types %}
    {
      "outputPath": "dist\\{{ def.mode }}_{{ type }}.png",
      "rules": [
        {
          "name": "mergeImage",
          "mode": "normal",
          "comment": "road",
          "pathes": [
            "workspace\\tmp_{{ def.mode }}_{{ type }}.png",
            "workspace\\bg_road.png"
          ],
          "offset": {
            "x": 0,
            "y": 0
          }
        },
        {
          "name": "removeSpecialColor"
        }
      ]
    },
    {
      "outputPath": "dist\\{{ def.mode }}_{{ type }}_icon.png",
      "rules": [
        {
          "name": "mergeImage",
          "mode": "normal",
          "comment": "icon,cursor",
          "pathes": [
            "workspace\\tmp_{{ def.mode }}_{{ type }}_icon.png",
{%- if def.mode in ("road") %}
            "workspace\\bg_road_icon.png"
{%- else %}
            "workspace\\bg_texture_icon.png"
{%- endif %}
          ],
          "offset": {
            "x": 0,
            "y": 0
          }
        },
        {
          "name": "removeTransparent",
          "threthold": 128
        },
        {
          "name": "removeSpecialColor"
        }
      ]
    }
{%- if not loop.last %},{%- endif %}
{%- endfor %}
{%- if not loop.last %},{%- endif %}
{%- endfor %}
  ]
}