title: RTX
description: RTX series
rtg_version: 1
options:
  interpolation_flags: 3
  resolution: 2
files:
{%- for file in items %}
  - name: "{{ file.get_name() }}_icon"
    source:
      path: "../workspace/{{ file.get_source_path() }}.png"
      default_size: 512
    dest:
      path: "{{ file.get_dest_path() }}_icon.png"
      width: {{ (file.get_icons() | length) * 256 }}
      height: 512
      default_size: 256
{%- if file.get_shift() != 0 %}
    after_apply:
      - [shift, {{ file.get_shift() }}]
{%- endif %}
    rules:
{%- for icon in file.get_icons() %}
      - name: icon{{ icon.suffix }}
        source:
          location: "{{ icon.source }}"
        dest:
          location: "{{ icon.dest }}"
          size: 128
        converts:
{%- for convert in icon.converts %}
          - {{ convert }}
{%- endfor %}
      - name: cursor{{ icon.suffix }}
        source:
          location: "{{ icon.source }}"
        dest:
          location: "{{ icon.dest_cur }}"
          size: 128
        converts:
{%- for convert in icon.converts %}
          - {{ convert }}
{%- endfor %}
{%- endfor %}
  - name: "{{ file.get_name() }}"
    source:
      path: "../workspace/{{ file.get_source_path() }}.png"
      default_size: 512
    dest:
      path: "{{ file.get_dest_path() }}.png"
      width: 2560
      height: 1536
      default_size: 256
{%- if file.get_shift() != 0 %}
    after_apply:
      - [shift, {{ file.get_shift() }}]
{%- endif %}
    rules:
{%- for rule in file.get_rules() %}
      - name: "{{ rule[0] }}"
        source:
          location: "{{ rule[1] }}"
        dest:
          location: "{{ rule[2] }}"
        converts:
{%- for convert in rule[3] %}
          - {{ convert }}
{%- endfor %}
{%- endfor %}
{%- endfor %}