title: "{{ title }}"
description: "{{ description }}"
rtg_version: 1
options:
  interpolation_flags: {{ interpolation_flags }}
  resolution: {{ resolution }}
files:
{%- for item in items %}
  - name: "{{ item.get_name() }}_icon"
    source:
      path: "../workspace/{{ item.get_icon_source_path() }}.png"
      default_size: 512
    dest:
      path: "{{ item.get_icon_dest_path() }}.png"
      width: {{ (item.get_icon_rules() | length) * 256 }}
      height: 512
      default_size: 256
{%- if item.get_shift() != 0 %}
    after_apply:
      - [shift, {{ item.get_shift() }}]
{%- endif %}
    rules:
{%- for rule in item.get_icon_rules() %}
      - name: icon{{ rule[0] }}
        source:
          location: "{{ rule[1] }}"
        dest:
          location: "{{ rule[2] }}"
          size: 128
        converts:
{%- for convert in rule[3] %}
          - {{ convert }}
{%- endfor %}
      - name: cursor{{ rule[0] }}
        source:
          location: "{{ rule[4] }}"
        dest:
          location: "{{ rule[5] }}"
          size: 128
        converts:
{%- for convert in rule[6] %}
          - {{ convert }}
{%- endfor %}
{%- endfor %}
  - name: "{{ item.get_name() }}"
    source:
      path: "../workspace/{{ item.get_source_path() }}.png"
      default_size: 512
    dest:
      path: "{{ item.get_dest_path() }}.png"
      width: {{ item.get_width() }}
      height: {{ item.get_height() }}
      default_size: 256
{%- if item.get_shift() != 0 %}
    after_apply:
      - [shift, {{ item.get_shift() }}]
{%- endif %}
    rules:
{%- for rule in item.get_rules() %}
      - name: "{{ rule[0] }}"
        source:
          location: "{{ rule[1] }}"
        dest:
          location: "{{ rule[2] }}"
        converts:
{%- for convert in rule[3] %}
          - {{ convert }}
{%- endfor %}
{%- endfor %}
{%- endfor %}