title: RTX
description: RTX series
rtg_version: 0
options:
  interpolation_flags: 3
  resolution: 2
files:
{%- for file in rtgs %}
  - name: "{{ file.get_name() }}_icon"
    source:
      path: "../workspace/texture_{{ file.get_source() }}.png"
      default_size: 512
    dest:
      path: "texture_{{ file.get_name() }}_icon.png"
      width: {{ file.get_icon_width() }}
      height: 512
      default_size: 256
{%- if file.get_shift() != 0 %}
    after_apply:
      - [shift, {{ file.get_shift() }}]
{%- endif %}
    rules:
{%- if file.single_icon() %}
      - name: icon
        source:
          location: "2.1"
        dest:
          location: "0.0"
          size: 128
        converts:
          - to_n
      - name: cursor
        source:
          location: "2.1"
        dest:
          location: "2.0"
          size: 128
        converts:
          - to_n
{%- else %}
      - name: icon_f
        source:
          location: "2.1"
        dest:
          location: "0.0"
          size: 128
        converts:
          - to_n
      - name: cursor_f
        source:
          location: "2.1"
        dest:
          location: "2.0"
          size: 128
        converts:
          - to_n
      - name: icon_c
        source:
          location: "2.1"
        dest:
          location: "0.2"
          size: 128
        converts:
          - to_n
      - name: cursor_c
        source:
          location: "2.1"
        dest:
          location: "2.2"
          size: 128
        converts:
          - to_n
      - name: icon_b
        source:
          location: "2.1"
        dest:
          location: "0.4"
          size: 128
        converts:
          - to_n
      - name: cursor_b
        source:
          location: "2.1"
        dest:
          location: "2.4"
          size: 128
        converts:
          - to_n
      - name: icon_s
        source:
          location: "2.1"
        dest:
          location: "0.6"
          size: 128
        converts:
          - to_n
      - name: cursor_s
        source:
          location: "2.1"
        dest:
          location: "2.6"
          size: 128
        converts:
          - to_n
{%- endif %}
  - name: "{{ file.get_name() }}"
    source:
      path: "../workspace/texture_{{ file.get_source() }}.png"
      default_size: 512
    dest:
      path: "texture_{{ file.get_name() }}.png"
      width: 2560
      height: 1536
      default_size: 256
{%- if file.get_shift() != 0 %}
    after_apply:
      - [shift, {{ file.get_shift() }}]
{%- endif %}
    rules:
      - name: ns
        source:
          location: "2.1"
        dest:
          location: "0.2"
        converts:
          - to_n
      - name: ew
        source:
          location: "2.1"
        dest:
          location: "0.3"
        converts:
          - to_e
      - name: s
        source:
          location: "0.1"
        dest:
          location: "0.5"
        converts:
          - to_n
      - name: w
        source:
          location: "0.1"
        dest:
          location: "0.6"
        converts:
          - to_e
      - name: n
        source:
          location: "0.1"
        dest:
          location: "0.7"
        converts:
          - to_s
      - name: e
        source:
          location: "0.1"
        dest:
          location: "0.8"
        converts:
          - to_w
      - name: "-"
        source:
          location: "0.0"
        dest:
          location: "0.9"
        converts:
          - to_n
      - name: up_12
        source:
          location: "3.2"
        dest:
          location: "1.0"
        converts:
          - to_n
          - to_up
      - name: up_9
        source:
          location: "3.2"
        dest:
          location: "1.1"
        converts:
          - to_w
          - to_up
      - name: up_3
        source:
          location: "2.2"
        dest:
          location: "1.2"
        converts:
          - to_s
          - to_up
      - name: up_6
        source:
          location: "2.2"
        dest:
          location: "1.3"
        converts:
          - to_e
          - to_up
      - name: up2_12
        source:
          location: "3.2"
        dest:
          location: "1.5"
        converts:
          - to_n
          - to_up2
      - name: up2_9
        source:
          location: "3.2"
        dest:
          location: "1.6"
        converts:
          - to_w
          - to_up2
      - name: up2_3
        source:
          location: "2.2"
        dest:
          location: "1.7"
        converts:
          - to_s
          - to_up2
      - name: up2_6
        source:
          location: "2.2"
        dest:
          location: "1.8"
        converts:
          - to_e
          - to_up2
      - name: diagonal_sw
        source:
          location: "2.0"
        dest:
          location: "2.0"
        converts:
          - to_e
      - name: diagonal_nw
        source:
          location: "2.0"
        dest:
          location: "2.1"
        converts:
          - to_s
      - name: diagonal_ne
        source:
          location: "2.0"
        dest:
          location: "2.2"
        converts:
          - to_w
      - name: diagonal_se
        source:
          location: "2.0"
        dest:
          location: "2.3"
        converts:
          - to_n
      - name: sw
        source:
          location: "1.0"
        dest:
          location: "2.5"
        converts:
          - to_e
      - name: nw
        source:
          location: "1.0"
        dest:
          location: "2.6"
        converts:
          - to_s
      - name: ne
        source:
          location: "1.0"
        dest:
          location: "2.7"
        converts:
          - to_w
      - name: se
        source:
          location: "1.0"
        dest:
          location: "2.8"
        converts:
          - to_n
      - name: diagonal_edge_sw
        source:
          location: "2.0"
        dest:
          location: "3.0"
        converts:
          - to_e
      - name: diagonal_edge_nw
        source:
          location: "2.0"
        dest:
          location: "3.1"
        converts:
          - to_s
      - name: diagonal_edge_ne
        source:
          location: "2.0"
        dest:
          location: "3.2"
        converts:
          - to_w
      - name: diagonal_edge_se
        source:
          location: "2.0"
        dest:
          location: "3.3"
        converts:
          - to_n
      - name: edge_sw
        source:
          location: "1.0"
        dest:
          location: "3.5"
        converts:
          - to_e
      - name: edge_nw
        source:
          location: "1.0"
        dest:
          location: "3.6"
        converts:
          - to_s
      - name: edge_ne
        source:
          location: "1.0"
        dest:
          location: "3.7"
        converts:
          - to_w
      - name: edge_se
        source:
          location: "1.0"
        dest:
          location: "3.8"
        converts:
          - to_n
      - name: new
        source:
          location: "1.2"
        dest:
          location: "4.0"
        converts:
          - to_e
      - name: nse
        source:
          location: "1.2"
        dest:
          location: "4.1"
        converts:
          - to_s
      - name: sew
        source:
          location: "1.2"
        dest:
          location: "4.2"
        converts:
          - to_w
      - name: nsw
        source:
          location: "1.2"
        dest:
          location: "4.3"
        converts:
          - to_n
      - name: nsew
        source:
          location: "1.1"
        dest:
          location: "4.4"
        converts:
          - to_n
{%- endfor %}