title: FX
description: FX series
rtg_version: 1
options:
  interpolation_flags: 3
  resolution: 4
files:
{%- for file in items %}
  - name: "{{ file.get_name() }}_icon"
    source:
      path: "../workspace/{{ file.get_source_path() }}.png"
      default_size: 512
    dest:
      path: "{{ file.get_dest_path() }}_icon.png"
      width: {{ (file.get_icons() | length) * 256 }}
      height: 512
      default_size: 256
{%- if file.get_shift() != 0 %}
    after_apply:
      - [shift, {{ file.get_shift() }}]
{%- endif %}
    rules:
{%- for icon in file.get_icons() %}
      - name: icon{{ icon.suffix }}
        source:
          location: "{{ icon.source }}"
        dest:
          location: "{{ icon.dest }}"
          size: 128
        converts:
{%- for convert in icon.converts %}
          - {{ convert }}
{%- endfor %}
      - name: cursor{{ icon.suffix }}
        source:
          location: "{{ icon.source }}"
        dest:
          location: "{{ icon.dest_cur }}"
          size: 128
        converts:
{%- for convert in icon.converts %}
          - {{ convert }}
{%- endfor %}
{%- endfor %}
  - name: "{{ file.get_name() }}"
    source:
      path: "../workspace/{{ file.get_source_path() }}.png"
      default_size: 512
    dest:
      path: "{{ file.get_dest_path() }}.png"
      width: 2560
      height: 1536
      default_size: 256
{%- if file.get_shift() != 0 %}
    after_apply:
      - [shift, {{ file.get_shift() }}]
{%- endif %}

    rules:
      - name: ns
        source:
          location: "{{ file.get_source_location("2.1") }}"
        dest:
          location: "0.2"
        converts:
          - to_n
      - name: ew
        source:
          location: "{{ file.get_source_location("2.1") }}"
        dest:
          location: "0.3"
        converts:
          - to_e
      - name: s
        source:
          location: "{{ file.get_source_location("0.1") }}"
        dest:
          location: "0.5"
        converts:
          - to_n
      - name: w
        source:
          location: "{{ file.get_source_location("0.1") }}"
        dest:
          location: "0.6"
        converts:
          - to_e
      - name: n
        source:
          location: "{{ file.get_source_location("0.1") }}"
        dest:
          location: "0.7"
        converts:
          - to_s
      - name: e
        source:
          location: "{{ file.get_source_location("0.1") }}"
        dest:
          location: "0.8"
        converts:
          - to_w
      - name: "-"
        source:
          location: "{{ file.get_source_location("0.0") }}"
        dest:
          location: "0.9"
        converts:
          - to_n
      - name: up_12
        source:
          location: "{{ file.get_source_location("3.2") }}"
        dest:
          location: "1.0"
        converts:
          - to_n
          - to_up
      - name: up_9
        source:
          location: "{{ file.get_source_location("3.2") }}"
        dest:
          location: "1.1"
        converts:
          - to_w
          - to_up
      - name: up_3
        source:
          location: "{{ file.get_source_location("2.2") }}"
        dest:
          location: "1.2"
        converts:
          - to_s
          - to_up
      - name: up_6
        source:
          location: "{{ file.get_source_location("2.2") }}"
        dest:
          location: "1.3"
        converts:
          - to_e
          - to_up
      - name: up2_12
        source:
          location: "{{ file.get_source_location("3.2") }}"
        dest:
          location: "1.5"
        converts:
          - to_n
          - [to_up, 2]
      - name: up2_9
        source:
          location: "{{ file.get_source_location("3.2") }}"
        dest:
          location: "1.6"
        converts:
          - to_w
          - [to_up, 2]
      - name: up2_3
        source:
          location: "{{ file.get_source_location("2.2") }}"
        dest:
          location: "1.7"
        converts:
          - to_s
          - [to_up, 2]
      - name: up2_6
        source:
          location: "{{ file.get_source_location("2.2") }}"
        dest:
          location: "1.8"
        converts:
          - to_e
          - [to_up, 2]
      - name: diagonal_sw
        source:
          location: "{{ file.get_source_location("2.0") }}"
        dest:
          location: "2.0"
        converts:
          - to_e
      - name: diagonal_nw
        source:
          location: "{{ file.get_source_location("2.0") }}"
        dest:
          location: "2.1"
        converts:
          - to_s
      - name: diagonal_ne
        source:
          location: "{{ file.get_source_location("2.0") }}"
        dest:
          location: "2.2"
        converts:
          - to_w
      - name: diagonal_se
        source:
          location: "{{ file.get_source_location("2.0") }}"
        dest:
          location: "2.3"
        converts:
          - to_n
      - name: sw
        source:
          location: "{{ file.get_source_location("1.0") }}"
        dest:
          location: "2.5"
        converts:
          - to_e
      - name: nw
        source:
          location: "{{ file.get_source_location("1.0") }}"
        dest:
          location: "2.6"
        converts:
          - to_s
      - name: ne
        source:
          location: "{{ file.get_source_location("1.0") }}"
        dest:
          location: "2.7"
        converts:
          - to_w
      - name: se
        source:
          location: "{{ file.get_source_location("1.0") }}"
        dest:
          location: "2.8"
        converts:
          - to_n
      - name: diagonal_edge_sw
        source:
          location: "{{ file.get_source_location("2.0") }}"
        dest:
          location: "3.0"
        converts:
          - to_e
      - name: diagonal_edge_nw
        source:
          location: "{{ file.get_source_location("2.0") }}"
        dest:
          location: "3.1"
        converts:
          - to_s
      - name: diagonal_edge_ne
        source:
          location: "{{ file.get_source_location("2.0") }}"
        dest:
          location: "3.2"
        converts:
          - to_w
      - name: diagonal_edge_se
        source:
          location: "{{ file.get_source_location("2.0") }}"
        dest:
          location: "3.3"
        converts:
          - to_n
      - name: edge_sw
        source:
          location: "{{ file.get_source_location("1.0") }}"
        dest:
          location: "3.5"
        converts:
          - to_e
      - name: edge_nw
        source:
          location: "{{ file.get_source_location("1.0") }}"
        dest:
          location: "3.6"
        converts:
          - to_s
      - name: edge_ne
        source:
          location: "{{ file.get_source_location("1.0") }}"
        dest:
          location: "3.7"
        converts:
          - to_w
      - name: edge_se
        source:
          location: "{{ file.get_source_location("1.0") }}"
        dest:
          location: "3.8"
        converts:
          - to_n
      - name: new
        source:
          location: "{{ file.get_source_location("1.2") }}"
        dest:
          location: "4.0"
        converts:
          - to_e
      - name: nse
        source:
          location: "{{ file.get_source_location("1.2") }}"
        dest:
          location: "4.1"
        converts:
          - to_s
      - name: sew
        source:
          location: "{{ file.get_source_location("1.2") }}"
        dest:
          location: "4.2"
        converts:
          - to_w
      - name: nsw
        source:
          location: "{{ file.get_source_location("1.2") }}"
        dest:
          location: "4.3"
        converts:
          - to_n
      - name: nsew
        source:
          location: "{{ file.get_source_location("1.1") }}"
        dest:
          location: "4.4"
        converts:
          - to_n
{%- endfor %}